## .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.ionide/

## Node
node_modules/

## Build output
deploy/

## SQLite
*.db
*.db-wal
*.db-shm

## Uploads
uploads/

## IDE
.idea/
.vscode/
*.swp
*.swo

.fake

## Docker
*.tar